.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 87px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts .item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link,
.contacts .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts .contact {
  display: flex;
  align-items: center;

  color: var(--text-color);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }
}

.contact > .icon.envelope,
.contact > .icon.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contact > .icon.envelope {
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contact > .icon.smartphone {
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
