@import './decimal';

@mixin section($pt: 60px, $pb: 60px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin fonts($fw, $fs: 14px, $lh: 24px, $ls: 0.03em) {
  @if ($fw != false) {
    font-weight: $fw;
  }

  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}

@mixin card-set($mode, $items: 1, $indent: 30px) {
  @if $mode == 'container' {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $indent;
  }

  @if $mode == 'item' {
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  }
}
