.clients {
  @include section;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  display: block;
  width: 170px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  display: block;
  fill: currentColor;
}
