.footer {
  @include section(60px, 60px);
  background-color: var(--secondary-background-color);

}

.footer__container {
    @extend %flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and(min-width: 768px){
      flex-direction: row;
    }
    @media screen and(min-width: 1200px){
    }
}

.logo-address{
  width: 232px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and(min-width: 1200px) {
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address {

  width: 231px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address > .item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.footer-address {
  display: block;
  color: var(--primary-background-color);
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-mail,
.footer-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-social {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;

  width: 206px;
  
  @media screen and(min-width: 480px) {
    
  }
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and(min-width: 1200px) {
    text-align: start;
    margin-left: 0;
    margin-right: 93px;
  }

  .title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
  }

  @media screen and(min-width: 768px) {
    margin-left: 70px;
  }

  @media screen and(min-width: 1200px) {
    text-align: start;

  }
}
