.team {
  @include section;

  background-color: var(--third-background-color);
}

.team__list {
  @include card-set('container', 1);
  text-align: center;

  @media screen and (min-width: 768px) {
    @include card-set('container', 2);
  }

  @media screen and (min-width: 1200px) {
    @include card-set('container', 4);
  }
}

.team__item {
  @include card-set('item', 1);

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    @include card-set('item', 2);
  }

  @media screen and (min-width: 1200px) {
    @include card-set('item', 4);
  }
}

.team__descr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;

  color: var(--text-color);

  font-size: 16px;
  line-height: 1.19;
}
